@font-face {
    font-family: 'bentonsansbold';
    src: url('fontsBBVA/bentonsansbbva-bold-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansbook';
    src: url('fontsBBVA/bentonsansbbva-book-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsanslight';
    src: url('fontsBBVA/bentonsansbbva-light-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansmedium';
    src: url('fontsBBVA/bentonsansbbva-medium-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansbold';
    src: url('fontsBBVA/bentonsans-bold-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansbook';
    src: url('fontsBBVA/bentonsans-book-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsanslight';
    src: url('fontsBBVA/bentonsans-light-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansmedium';
    src: url('fontsBBVA/bentonsans-medium-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Estilos para header*/
.cabecera{
  background-color: #072146;
  border: solid 1px #072146;
}
/*Termina estilos de header*/

/*Estilos de footer*/
.footer h4{
	font-size: 12px;
	color: #363636;
	text-transform: uppercase;
	font-family: 'bbva-regular';
}
.footer ul{
	padding-left: 0px;
}
.footer ul li{
	list-style-type: none;
	text-align: left;
	font-size: 15px;
	color: #666666;
}
.footer li a{
	color: #666666;
	font-size: 12px;
	font-family: 'bbva-regular';
}
.footer .borde{
	border-left: 1px solid #ccc;
}
.barraFooter{
	background-color: #f7f4f4;
	bottom: 0px;
	width: 100%;
	color: #363636;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}
.barraFooter p a{
	color: #363636;
}
/*Termina estilos de footer*/

/*Estilos para index*/
.sec-img-2{
	margin-top: 70px;
  margin-left: 20px;
}
.sec-img-2 p{
  font-family: 'bentonsansbook';
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
/*Termina estilos para index*/

/*Estilos de index-Banner*/
.banner-msn{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
}

.relleno{
	padding-left: 0px;
	padding-right: 0px;
}
.tt{
  font-family: 'bentonsansbook';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}
.tt2{
  font-family: 'bentonsansbook';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.tt3{
  font-family: 'bentonsansbook';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/*Termina estilos de index-Banner*/

/*Estilos de ventana interes*/
.titulo{
  text-align: center;
  object-fit: contain;
  font-family: 'bentonsansbook';
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
  margin: 20px;
  margin-bottom: 30px
}
.interes{
	margin-top: 140px;
	color: red;
}
.relleno2{
	margin-bottom: 30px;
}
/*Termina estilos de ventanas ineteres*/