@font-face {
    font-family: 'bentonsansbold';
    src: url('fontsBBVA/bentonsansbbva-bold-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bentonsansbook';
    src: url('fontsBBVA/bentonsansbbva-book-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bentonsanslight';
    src: url('fontsBBVA/bentonsansbbva-light-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bentonsansmedium';
    src: url('fontsBBVA/bentonsansbbva-medium-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bentonsansbold';
    src: url('fontsBBVA/bentonsans-bold-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bentonsansbook';
    src: url('fontsBBVA/bentonsans-book-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bentonsanslight';
    src: url('fontsBBVA/bentonsans-light-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bentonsansmedium';
    src: url('fontsBBVA/bentonsans-medium-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Estilos de footer*/
.footer h4{
	font-size: 12px;
	color: #363636;
	text-transform: uppercase;
	font-family: 'bbva-regular';
}
.footer ul{
	padding-left: 0px;
}
.footer ul li{
	list-style-type: none;
	text-align: left;
	font-size: 15px;
	color: #666666;
}
.footer li a{
	color: #666666;
	font-size: 12px;
	font-family: 'bbva-regular';
}
.footer .borde{
	border-left: 1px solid #ccc;
}
.barraFooter{
	background-color: #f7f4f4;
	bottom: 0px;
	width: 100%;
	color: #363636;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}
.barraFooter p a{
	color: #363636;
}
/*Termina estilos de footer*/

/*Estilos para index*/
.sec-img-2{
	margin-top: 20px;
}
.sec-img-2 p{
	color: red;
	font-size: 10px;
	font-size: 22px;
	font-family: 'bbva-regular';
}
/*Termina estilos para index*/

/*Estilos de index-Banner*/
.banner-msn{
	background-color: #ccc;
	padding: 15px;
	opacity: .5;
}

.relleno{
	padding-left: 0px;
	padding-right: 0px;
}
/*Termina estilos de index-Banner*/