@font-face {
    font-family: 'bentonsansbold';
    src: url('fontsBBVA/bentonsansbbva-bold-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansbook';
    src: url('fontsBBVA/bentonsansbbva-book-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsanslight';
    src: url('fontsBBVA/bentonsansbbva-light-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansmedium';
    src: url('fontsBBVA/bentonsansbbva-medium-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsansbbva-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansbold';
    src: url('fontsBBVA/bentonsans-bold-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansbook';
    src: url('fontsBBVA/bentonsans-book-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsanslight';
    src: url('fontsBBVA/bentonsans-light-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bentonsansmedium';
    src: url('fontsBBVA/bentonsans-medium-webfont.woff2') format('woff2'),
         url('fontsBBVA/bentonsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Estilos para header*/
.fonfoAzul{
  background-color: #072146;
  padding: 12px 1px 7px 1px;
}
.cabecera{
  background-color: #072146;
  border: solid 1px #072146;
}
.accionistahead{
  font-family: 'bentonsansbook';
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 18px;
}
.bordehead{
  border-right: solid 0.5px #ffffff;
  margin-right: 20px;
}
.fondoClaro{
  background-color: #004481;
  padding: 12px 1px 7px 1px;
}
/*Termina estilos de header*/

/*Estilos de footer*/
.ayuda{
  margin: 60px;
}
.footer h4{
  width: 255px;
  height: 20px;
  font-family: 'bentonsansbook';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #363636;
}
.footer ul{
	padding-left: 0px;
}
.footer ul li{
	list-style-type: none;
	text-align: left;
	font-size: 15px;
	color: #666666;
}
.footer li a{
  font-family: 'bentonsansbook';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2a86ca;
}
.footer .borde{
/*	border-left: 1px solid #ccc; */
}
.barraFooter{
	bottom: 0px;
	width: 100%;
	color: #363636;
	margin: 0px;
  padding: 42px 0px 20px 0px;
  background-color: #072146;
  border: solid 1px #072146;
}
.barraFooter p a{
  font-family: 'bentonsansbook';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #49a5e6;
}
.barraFooter p a:hover{
  text-decoration: none;
  color: #fff;
}
.separador{
  margin-bottom: 40px;  
}
.accionista{
  font-family: 'bentonsansbook';
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  float: right;
  margin-right: 43px;
}
.imgsocial{
  display: flex;
}
.imgsocial2{
  margin-right: 7px;
}
.social{
  float: right;
  font-family: 'bentonsansbook';
  font-size: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c92e0;
  margin-right: 80px;
}

/*Termina estilos de footer*/

/*Estilos para index*/
.sec-img-2{
	margin-top: 70px;
  margin-left: 20px;
}
.sec-img-2 p{
  font-family: 'bentonsansbook';
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.botonzote{
  padding: 19px 66px 19px 66px;
}
/*Termina estilos para index*/

/*Estilos de index-Banner*/
.banner-msn{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
}

.relleno{
	padding-left: 0px;
	padding-right: 0px;
}
.tt{
  font-family: 'bentonsansbook';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}
.tt2{
  font-family: 'bentonsansbook';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.tt3{
  font-family: 'bentonsansbook';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/*Termina estilos de index-Banner*/

/*Estilos de ventana interes*/
.titulo{
  text-align: center;
  object-fit: contain;
  font-family: 'bentonsansbook';
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
  margin: 20px;
  margin-bottom: 30px
}
.interes{
	margin-top: 140px;
	color: red;
}
.relleno2{
	margin-bottom: 30px;
}
/*Termina estilos de ventanas ineteres*/
/*Estilos para informacion financiera*/
.insti{
  display: none;
}
.anio{
  display: none;
}
.institucion{
  display: none;
}
/*Estilos para informacion financiera*/
.space{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.space1{
  width: 100%;
  height: 40px;
}
/*Estilos para menu ingles y españor*/
.menuEnEs {
  opacity: .6;
  color: #FFF;
  font-size: 12px;
  font-family: 'BentonSansBBVA';
  margin-top: 22px;
  font-weight: bold;
  cursor: pointer;
}
.menuEnEs.activado{
  opacity: 1;
}
/*Estilos para menu ingles y españor*/